:root {
    --sea:#e6ffe6;
    --mint:#99ffcc;
    --forest:#004d26;
    --pale:#ffffff;
  }

footer {
      background-color: var(--mint);
      position: fixed;
      height: 50px;
      bottom: 0;
      width: 100%;
      color: var(--pale);
      text-shadow: 2px 2px var(--forest);
      font-size: 30px;
  }

.navbar {
background-color: var(--mint);
color: var(--pale);
      text-shadow: 2px 2px var(--forest);
  }

.navbar a {
    color: var(--pale);
    text-shadow: 2px 2px var(--forest);
  }

.navbar a:hover {
        color: var(--forest);
        text-shadow: 2px 2px var(--pale);
  }

.profile {
    background-color: var(--sea);
  }

.calendar {
  background-color: var(--sea);
}