:root {
    --sea:#e6ffe6;
    --mint:#99ffcc;
    --forest:#004d26;
    --green: #009933;
    --pale:#ffffff;
    --blue:#b3ccff;
    --aqua:#4eb883;
  }

  body {
    background: linear-gradient(to bottom, #99ffcc, #ffffff);
  }

footer {
  /* background: linear-gradient(to bottom, #99ffcc, #ffffff); */
      position: fixed;
      height: 50px;
      bottom: 0;
      width: 100%;
      color: var(--pale);
      text-shadow: 2px 2px var(--forest);
      font-size: 30px;
  }

.navbar {
background-color: var(--aqua);
/* background: linear-gradient(to top, #b3ccff, #004d26); */
color: var(--mint);
text-shadow: 2px 2px var(--forest);
  }

.navbar a {
    color: var(--pale);
    text-shadow: 2px 2px var(--forest);
  }

.navbar a:hover {
        color: var(--forest);
        text-shadow: 2px 2px var(--pale);
  }

